.item a {
    color: white;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.item a.activeLink{
    color: gold;
    background-color: #4CAF50;
}


form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
.d5 {
    background: #343A40;
    margin-top: 5px;
    margin-left: 10px;
}
.d5 input, .d5 button {
    outline: none;
    background: transparent;
}
.d5 input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    border: 3px solid #F9F0DA;
    color: whitesmoke;
}
.d5 button {
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.d5 input:focus {
    border-color: #5a6162
}