.description{
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    font-family: Arial;
}

.const_information{

   border-bottom: 1px solid black;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system;
}

.link_back:hover{
    text-decoration: none;
    color: #282c34;
    font-size: 24px;
}

.link_back{
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: bold;
    font-family: -apple-system;

}

.link_position{
    margin-top: 20px;
}