.text{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #DCDCDC;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.posText{
    background-color: #7f7b7b;
   margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.mainhead{
    background-color: #7f7b7b;
    padding: 20px;
}