.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainheader{

  background-color: #A9A9A9 ;
  padding: 20px;
}

.information{
  border: 1px solid #131010;
  padding: 20px;
  background-color: #d6d6d6;
}

.generalForm {
  width: 40%;
  margin: 10px 0px 25px 0px;
  padding: 0px 15px 10px 15px;
  border: 2px solid #5e6869;
  border-radius: 1.5%;
}

.userOneData {
  margin: 30px 15px;
}

.add_crypto:hover{
  text-decoration: none;
}


.inf_text{
  padding-top: 20px;
}

#fountainTextG{
  width:234px;
  margin:auto;
}

.fountainTextGT{
  color:rgb(0,0,0);
  font-family:Arial;
  font-size:33px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  animation-name:bounce_fountainTextG;
  -o-animation-name:bounce_fountainTextG;
  -ms-animation-name:bounce_fountainTextG;
  -webkit-animation-name:bounce_fountainTextG;
  -moz-animation-name:bounce_fountainTextG;
  animation-duration:2.09s;
  -o-animation-duration:2.09s;
  -ms-animation-duration:2.09s;
  -webkit-animation-duration:2.09s;
  -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(.5);
  -o-transform:scale(.5);
  -ms-transform:scale(.5);
  -webkit-transform:scale(.5);
  -moz-transform:scale(.5);
}#fountainTextG_1{
   animation-delay:0.75s;
   -o-animation-delay:0.75s;
   -ms-animation-delay:0.75s;
   -webkit-animation-delay:0.75s;
   -moz-animation-delay:0.75s;
 }
#fountainTextG_2{
  animation-delay:0.9s;
  -o-animation-delay:0.9s;
  -ms-animation-delay:0.9s;
  -webkit-animation-delay:0.9s;
  -moz-animation-delay:0.9s;
}
#fountainTextG_3{
  animation-delay:1.05s;
  -o-animation-delay:1.05s;
  -ms-animation-delay:1.05s;
  -webkit-animation-delay:1.05s;
  -moz-animation-delay:1.05s;
}
#fountainTextG_4{
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -ms-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
}
#fountainTextG_5{
  animation-delay:1.35s;
  -o-animation-delay:1.35s;
  -ms-animation-delay:1.35s;
  -webkit-animation-delay:1.35s;
  -moz-animation-delay:1.35s;
}
#fountainTextG_6{
  animation-delay:1.5s;
  -o-animation-delay:1.5s;
  -ms-animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
  -moz-animation-delay:1.5s;
}
#fountainTextG_7{
  animation-delay:1.64s;
  -o-animation-delay:1.64s;
  -ms-animation-delay:1.64s;
  -webkit-animation-delay:1.64s;
  -moz-animation-delay:1.64s;
}
#fountainTextG_8{
  animation-delay:1.79s;
  -o-animation-delay:1.79s;
  -ms-animation-delay:1.79s;
  -webkit-animation-delay:1.79s;
  -moz-animation-delay:1.79s;
}




@keyframes bounce_fountainTextG{
  0%{
    transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-o-keyframes bounce_fountainTextG{
  0%{
    -o-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -o-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-ms-keyframes bounce_fountainTextG{
  0%{
    -ms-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -ms-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-webkit-keyframes bounce_fountainTextG{
  0%{
    -webkit-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -webkit-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-moz-keyframes bounce_fountainTextG{
  0%{
    -moz-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -moz-transform:scale(.5);
    color:rgb(255,255,255);
  }
}


